* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --Light-red: #ff5757;
    --Orangey-yellow: #ffb01f;
    --Green-teal: #00bd91;
    --Cobalt-blue: #1125d4;
    /* Gradients */
    --Light-slate-blue: #7857ff;
    --Light-royal-blue: #2e2be9;
    --Violet-blue: #4e21ca;
    --Persian-blue: #2421ca00;
    /* Neutral */
    --White: #ffffff;
    --Pale-blue: #ebf1ff;
    --Light-lavender: #c8c7ff;
    --Dark-gray-blue: #303b5a;
}

body {
    font-size: 18px;
    font-family: "Hanken Grotesk", sans-serif;
    display: grid;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: fit-content;
}

/* Your result section */
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1.5rem;
    background-image: linear-gradient(to top,#2e2be9,#7857ff);
    box-shadow: 5px 5px var(--Pale-blue);
}

h1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--Pale-blue);
}

.score {
    margin: 1.5rem 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 20%;
    background-image: linear-gradient( var(--Violet-blue), var(--Persian-blue));
    border-radius: 5.5rem;
}

h2 {
    font-size: 2.5rem;
    color: var(--White);
}

.score p {
    font-size: 0.8rem;
    color: var(--Light-slate-blue);
    font-weight: 700;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 1.5rem;
    color: var(--White);
    margin: 10px 0 10px 0;
}

article p {
    font-size: 0.8rem;
    color: var(--Pale-blue);
    line-height: 1.2;
    display: block;
    text-align: center;
}

/* The summary section */
.summary {
    border-radius: 0 1rem 1rem 0 ;
    box-shadow: 5px 5px var(--Pale-blue);
    width: auto;
    margin-right: auto;
    background-color: var(--White);
    padding: 3rem;
}

h4 {
    font-size: 1.3rem;
    color: var(--Dark-gray-blue);
    font-weight: 700;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

li {
    width: 13rem;
    padding: 0.8rem 1rem;
    list-style-type: none;
    border-radius: 5px;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}

span {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--Light-lavender);
}

.button {
    margin-top: 1rem;
    width: 13rem;
    border-radius: 30px;
    background-color: var(--Dark-gray-blue);
}

.button:hover {
    background-image: linear-gradient(to top, var(--Light-royal-blue), var(--Light-slate-blue));
}

.button a {
    display: block;
    text-align: center;
    color: var(--Pale-blue);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.8rem 2rem;
}

footer {
    display: grid;
    margin-top: auto;
}

.attribution { 
    font-size: 10px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

@media screen and (max-width: 37.5rem){

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    
    .result {
        margin-top: 0;
        min-width: 100vw;
        border-radius: 0 0 1rem 1rem;
    }
    
    h1 {
        font-size: 1.4rem;
    }
    
    .score {
        width: 45%;
        height: auto;
    }
    
    .score > h2 {
        font-size: 2.9rem;
    }

    .score p {
        font-size: 1rem;
    }
    
    h3 {
        font-size: 1.8rem;
    }
    
    article p {
        font-size: 1rem;
    }

    /* The summary section */
    .summary {
        border-radius: 0;
        box-shadow: none;
        width: 100vw;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .summary > h4 {
        font-size: 1.5rem;
    }

    li {
        width: 20rem;
    }

    span {
        font-size: 1.2rem;        
    }

    .button {
        margin-top: 1.2rem;
        width: 20rem;
    }
    
    .button a {
        display: block;
        text-align: center;
        color: var(--Pale-blue);
        text-decoration: none;
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }

    .attribution { 
        font-size: 16px; 
    }
}